<p id="notice"><%= notice %></p>
<center>

<body style="border:double 300px #FFCC99;">
<p>
  <strong>カテゴリー名:</strong>
  <%= @category.categoryname %>
</p>

<%= link_to '更新', edit_category_path(@category) %> |
<%= link_to '一覧へ戻る', categories_path %>
</center>